.signup-form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1.5rem 3.75rem 1.5rem;
}

.inner-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  align-items: center;
  gap: 1rem;
  border-radius: 0.4375rem;
  border: 1px solid #000;
  background: #fff;
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.specialization-label {
  color: var(--Typocolor, #121212);
  font-family: var(--font-family-Inter, Inter);
  font-size: var(--16, 1rem);
  font-style: normal;
  font-weight: 600;
  line-height: var(--22, 1.375rem);
}

.specialization-note {
  color: var(--Typocolor, #121212);
  font-family: var(--font-family-Inter, Inter);
  font-size: var(--16, 1rem);
  font-style: normal;
  font-weight: 300;
  line-height: var(--20, 1.25rem);
}

.specialization-choices {
  all: unset;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .signup-form-section {
    padding: 2.5rem 5rem 6.25rem 5rem;
  }

  .inner-wrapper {
    padding: 3.75rem 12.5rem;
    gap: 2.5rem;
    border-radius: 0.625rem;
    border: 3px solid #000;
  }

  .input-fields {
    gap: 2.5rem;
  }

  .specialization-label {
    font-size: var(--32, 2rem);
    line-height: var(--32, 2rem); /* 100% */
  }

  .specialization-note {
    font-size: var(--20, 1.25rem);
    font-weight: 400;
    line-height: var(--22, 1.375rem); /* 110% */
    margin-top: 0.75rem;
  }

  .specialization-choices {
    margin-top: 1rem;
  }
}
