.inner-wrapper::before,
.inner-wrapper::after {
  content: "";
  position: absolute;
  width: 1.875rem;
  height: 1.875rem;
  top: 70%;
  transform: translateY(-50%);
  background: var(--Yrgo-yrgo-blue, #001a52);
}

.inner-wrapper::before {
  right: -1rem;
  border-radius: 50px 0 0 50px;
}

.inner-wrapper::after {
  left: -1rem;
  border-radius: 0 50px 50px 0;
}

@media (min-width: 768px) {
  .inner-wrapper::before,
  .inner-wrapper::after {
    width: 5rem;
    height: 5rem;
  }

  .inner-wrapper::before {
    right: -3rem;
  }

  .inner-wrapper::after {
    left: -3rem;
  }
}
