.button {
  display: flex;
  width: 8rem;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border: 1px solid var(--Stroke-stroke-black, #121212);

  /* Text styling */
  color: var(--Typocolor, #121212);
  font-family: var(--font-family-Inter, Inter);
  font-size: var(--16, 1rem);
  font-style: normal;
  font-weight: 400;
  line-height: var(--22, 1.375rem); /* 137.5% */
  text-transform: uppercase;
}

.button:active,
.button.selected {
  color: #ffffff;
  background: var(--Yrgo-yrgo-blue, #001a52);
}

/* Responsive styles */
@media (min-width: 768px) {
  .button {
    width: 33.9375rem;
    padding: 1.5rem;
    gap: 0.625rem;
    flex-shrink: 0;
    border: 2px solid var(--Stroke-stroke-black, #121212);

    /* Title_3 */
    font-size: var(--48, 3rem);
    line-height: var(--52, 3.25rem);
  }

  .button:hover {
    color: #ffffff;
    background: var(--Yrgo-yrgo-blue, #001a52);
  }
}
