.sendButton {
  display: flex;
  width: 100%;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  background: var(--Yrgo-yrgo-red, #e51236);
  border: 1px solid var(--Yrgo-yrgo-red, #e51236);

  /* Text */
  color: var(--Yrgo-yrgo-white, #fff);
  font-family: var(--font-family-Inter, Inter);
  font-size: var(--16, 1rem);
  font-style: normal;
  font-weight: 600;
  line-height: var(--22, 1.375rem);
  text-transform: uppercase;
}

.sendButton:hover {
  color: var(--Yrgo-yrgo-red, #e51236);
  background-color: var(--Yrgo-yrgo-white, #ffffff);
  border: 1px solid var(--Yrgo-yrgo-white, #ffffff);
}

.sendButton:active {
  color: var(--Yrgo-yrgo-red, #e51236);
  background-color: var(--Yrgo-yrgo-white, #ffffff);
  border: 1px solid var(--Yrgo-yrgo-red, #e51236);
}

.sendButton:disabled {
  color: var(--Yrgo-yrgo-red, #e51236);
  background-color: var(--Yrgo-yrgo-red, #e51236);
  background: var(--Yrgo-yrgo-grey, #e4e9eb);
}

/* Responsive styles */
@media (min-width: 768px) {
  .sendButton {
    width: 70.5rem;
    padding: 1.5rem 0.625rem;
    gap: 0.625rem;

    font-size: var(--48, 3rem);
    line-height: var(--52, 3.25rem);
  }
}
