.cardBackgroundContainer {
  display: flex;
  /* height: 39.4375rem; */
  padding: 1.5rem 0.75rem;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  background-color: var(--yrgo-blue);
}

.cardBackground {
  display: flex;
  width: 17rem;
  /* height: 38.4375rem; */
  padding: 1.5rem 0.75rem;
  align-items: center;
  gap: 0.625rem;
  background-color: var(--yrgo-white);
  border-radius: 0.75rem;
}

.cardFiller {
  display: flex;
  width: 15.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

@media (min-width: 768px) {
  .cardBackgroundContainer {
    width: 20.25rem;
    height: 41.8125rem;
    padding: 1rem 0.75rem;
    flex-shrink: 0;
  }
  .cardBackground {
    width: 20.25rem;
    height: 41.8125rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  .cardFiller {
    width: 18.75rem;
    align-items: flex-end;
    flex-shrink: 0;
  }
}

/* Card circles */
/* .cardBackground::before,
.cardBackground::after {
  content: "";
  position: absolute;
  width: 1.875rem;
  height: 1.875rem;
  background-color: var(--yrgo-blue);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.cardBackground::before {
  left: -1rem;
}

.cardBackground::after {
  right: -1rem;
} */
