.cardBackgroundContainer {
  display: flex;
  width: 20.25rem;
  height: 41.8125rem;
  padding: 1rem 0.75rem;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  background-color: var(--yrgo-blue);
}

.cardBackground {
  background-color: var(--yrgo-white);
  display: flex;
  width: 20.25rem;
  height: 41.8125rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.cardFiller {
  display: flex;
  width: 18.75rem;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  flex-shrink: 0;
}

/* Card circles */
/* .cardBackground::before,
.cardBackground::after {
  content: "";
  position: absolute;
  width: 1.875rem;
  height: 1.875rem;
  background-color: var(--yrgo-blue);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.cardBackground::before {
  left: -1rem;
}

.cardBackground::after {
  right: -1rem;
} */
