.cardBackgroundContainer {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0.75rem;
  background-color: var(--yrgo-blue);
  position: relative;
  width: 100%;
}

.cardBackground {
  display: flex;
  width: 17rem;
  padding: 1.5rem 0.75rem;
  background-color: var(--yrgo-white);
  border-radius: 0.75rem;
  position: relative;
}

.cardFiller {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2rem;
}

/* Base styles for cutouts */
.cardBackground::before,
.cardBackground::after {
  content: "";
  position: absolute;
  width: 1.875rem;
  height: 1.875rem;
  background-color: var(--yrgo-blue);
  border-radius: 50%;
  top: 57%;
}

/* Position cutouts */
.cardBackground::before {
  left: -1.3rem;
}

.cardBackground::after {
  right: -1.3rem;
}

@media (min-width: 768px) {
  .cardBackgroundContainer {
    width: auto;
    padding: 1rem 0.75rem;
  }

  .cardBackground {
    width: 20.25rem;
  }

  .cardFiller {
    width: 100%;
  }
  .cardBackground::before,
  .cardBackground::after {
    width: 2rem;
    height: 2rem;
  }
}
