.cardBackgroundContainer {
  display: flex;
  align-items: flex-start;
}

.cardBackground {
  display: flex;
  min-width: 17rem;
  min-height: 32.5rem;
  background-color: var(--yrgo-white);
  border-radius: 0.625rem;
  overflow: hidden;
  position: relative;
}

.cardBackground::before {
  content: "";
  position: absolute;
  width: 1.875rem;
  height: 1.875rem;
  background-color: var(--yrgo-blue);
  border-radius: 50%;
  left: -2%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cardBackground::after {
  content: "";
  position: absolute;
  width: 1.875rem;
  height: 1.875rem;
  background-color: var(--yrgo-blue);
  border-radius: 50%;
  left: 102%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cardFiller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .cardBackgroundContainer {
    display: flex;
    padding: 3.5625rem 3rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
  }

  .cardBackground {
    min-width: 70rem;
    max-width: 95.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cardBackground::before {
    width: 3rem;
    height: 3rem;
    background-color: var(--yrgo-blue);
    border-radius: 50%;
    left: -1%;
    top: 55%;
    transform: translate(-50%, -50%);
  }

  .cardBackground::after {
    width: 3rem;
    height: 3rem;
    background-color: var(--yrgo-blue);
    border-radius: 50%;
    left: 101%;
    top: 55%;
    transform: translate(-50%, -50%);
  }

  .cardFiller {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
}
