.div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-self: stretch;
}

.label {
  color: var(--Typocolor, #121212);
  font-family: var(--font-family-Inter, Inter);
  font-size: var(--16, 1rem);
  font-style: normal;
  font-weight: 600;
  line-height: var(--22, 1.375rem);
}

.input {
  display: flex;
  width: 14rem;
  padding: 0.5rem 1rem;
  align-items: center;
  gap: 0.25rem;
  border: 1px solid var(--Stroke-stroke-black, #121212);
  width: 100%;
  margin-top: 0.5rem;

  /* Text */
  color: var(--Greyscale-grey3, #828282);
  font-family: var(--font-family-Inter, Inter);
  font-size: var(--16, 1rem);
  font-style: normal;
  font-weight: 400;
  line-height: var(--22, 1.375rem);
}

.input:invalid {
  justify-content: space-between;
  align-self: stretch;
  border: 1px solid var(--Stroke-stroke-red, #e51236);
  background: var(--Yrgo-Yrgo-error-fill, #fff4f4);
}

@media (min-width: 768px) {
  .div {
    gap: 1rem;
  }

  .label {
    font-size: var(--32, 2rem);
    line-height: var(--32, 2rem);
  }

  .input {
    width: 70.5rem;
    padding: 1.5rem;
    gap: 0.625rem;
    border: 2px solid var(--Stroke-stroke-black, #121212);

    /* Text */
    font-size: var(--32, 2rem);
    line-height: var(--42, 2.625rem);
  }

  .input:invalid {
    border: 2px solid var(--Stroke-stroke-red, #e51236);
  }
}
