.dropdown {
}

.dropdownButton {
  border: 1px solid var(--yrgo-white);
  background: var(--yrgo-blue);
  display: flex;
  width: 6.75rem;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  align-items: flex-start;
}

.buttonText {
  color: var(--yrgo-white);
  font-size: 1rem;
  font-style: normal;
  font-weight: 100;
  line-height: 1.5rem; /* 150% */
}

.dropdownMenu {
}

.optionItem {
  padding: 4px 16px;
  cursor: pointer;
}

.checkbox {
  margin-right: 8px;
}
