.dropdown {
}

.category {
}

.icon {
}

.dropdownMenu {
  border-radius: 0rem 0rem 0.625rem 0.625rem;
  border: 1px solid var(--Stroke-stroke-blue, #001a52);
  background: var(--Yrgo-yrgo-blue, #001a52);
  width: 17rem;
  padding: 1rem;
}

.dropdownContent {
  color: var(--yrgo-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  flex: 1 0 0;
}

.dropdownButton {
  border: 1px solid var(--yrgo-white);
  background: var(--yrgo-blue);
  display: flex;
  width: 6.75rem;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  align-items: flex-start;
}

.buttonText {
  color: var(--yrgo-white);
  font-size: 1rem;
  font-style: normal;
  font-weight: 100;
  line-height: 1.5rem; /* 150% */
}

.categoryTitle {
  color: var(--yrgo-white);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.375rem; /* 137.5% */
  text-transform: uppercase;
}

/* Labeltext */
.optionLabel {
  color: var(--yrgo-white);
}

.optionItem {
  padding: 4px 16px;
  cursor: pointer;
}

.checkbox {
  margin-right: 8px;
}
